*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
}   
h2{
    font-size: 4rem;
    padding: 3rem;
    font-weight: bold;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: space-between;
}
.day,.hour,.minute,.second{
    font-size: 2rem;
    text-align: center;
}
.waiting{
    height: 50vh;
}